<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="content-type" 
    content="text/html; charset=UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" 
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  crossorigin="anonymous">
  <link rel='stylesheet' 
    href='/stylesheets/style.css' />
</head>

<body class="container">

  <header>
    <h1 class="display-4">
      <%= title %></h1>
  </header>
  <div role="main">
    <a class="btn btn-primary" href="/users/index">ユーザ管理</a>
    <a class="btn btn-primary" href="/seats/index">出席者管理</a>
    <a class="btn btn-primary" href="/seatinfos/index">座席管理</a>
    <a class="btn btn-primary" href="/">Top へ戻る</a>

  </div>
</body>

</html>