<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="content-type" 
    content="text/html; charset=UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" 
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  crossorigin="anonymous">
  <link rel='stylesheet' 
    href='/stylesheets/style.css' />
</head>

<body class="container">
  <div role="main">
    <table class="table">
      <tr style="background-color: lightgray">
        <td>座席番号</td>
        <td>X座標</td>
        <td>Y座標</td>
      </tr>
      <% for(var i in content) { %>
      <tr>
        <% var obj = content[i]; %>
        <td><%= obj.number %></td>
        <td><%= obj.x %></td>
        <td><%= obj.y %></td>
      </tr>
      <% } %>
    </table>
    <a class="btn-flat-vertical-border" href="/">&lt;&lt; 戻る</a>
    <a class="btn-flat-vertical-border" href="/seatinfos/add">座席の作成</a>
  </div>
</body>

</html>